@import '_vars';

#svg-logo {
    white-space: pre;
    stroke: rgb(0, 0, 0);
    stroke-width: 10;
    position: relative;
    top: 1vw;
    left: 0px;
}

@keyframes welcome-animation {
  from { opacity: 0; margin-right: -500px; }
  to { opacity: 1; margin-right: 0; }
}


.scroll {
  display: inline-block;
  margin-top: 120px;
  font-size: 40px;
  color: #7a7a7a;
  cursor: pointer;
  &:hover {
    color: #1a1a1a;
  }
}
  
// Typewriter
.typewriter h1 {
  margin-bottom: 20px;
  font-size: 35px;
  // line-height: 1;
  color: black;
  text-align: right;
  // display: flex;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 40px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

// Typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

// Typewriter cursor effect
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.intro {
  // border: solid green 1px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 100px);
  align-items: center;
  // justify-items: center;
  width: 100%;
  border: solid green 1px;
  
    &:before {
      z-index: -1;
      content: " ";
      display: block;
      position: relative;
      // left: 0;
      // top: 0;
      grid-column: 3/7;
      grid-row: 1/6;
      // justify-self: center;
      // align-self: center;
      // background-color: transparent;
      background-size: auto 500px;
      // add div to have backgorund be a max-width
      background-position: center right;
      background-repeat: no-repeat;

      background-image: url('../../image/IntroSeth-Transparent.png');
      // width: 100%;
      height: 100%;
      max-width: 1080px;
      border: solid red 1px;
      // background-repeat: no-repeat;
      // background-size: cover;
      // filter: grayscale(0.2) blur(1.5px); 
    }


  .header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    .container-fluid {
      display: flex;
      flex-direction: column;
      width: 70%;
      // height: 1000px;
      
      @media only screen and (min-width: 600px) {
        // height: 120px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;  
        flex-direction: row;
        
      }
      a {
        text-decoration: none;
      }

      h1 {
        color: $primary-blue;    
      }
      .logo {
        align-items: center;
        font-size: 50px;
        text-align: center;
        vertical-align: middle;
        font-weight: 800;
        margin: 1vw;
        height: 100%;
        transition-duration: $link-duration;
        
        @media only screen and (min-width: 600px) {
          // margin-top: -10px;
          // margin-left: 20px;
        }
      }
    }
  }

  .jumbotron {
    display: flex;
    text-align: right;
    background-color: transparent;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 4/5;
  
    @media only screen and (max-width: 1250px) {
      grid-column: 1/4;
    }
  }

  #intro-p-thanks {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: left;
    @media only screen and (max-width: 1250px) {
      grid-column: 4/5;
    }
  }
  
  #intro-p-developed {
    grid-column: 4/5;
    grid-row: 3/4;
    text-align: left;
    @media only screen and (max-width: 1250px) {
      grid-column: 4/5;
    }
  }
  
  #intro-p-look {
    grid-column: 4/5;
    text-align: left;
    grid-row: 5/6;
    @media only screen and (max-width: 1250px) {
      grid-column: 3/4;
    }
  }
}

.grid {
  align-self: center;  
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 15% 1fr 15%;
  // margin: 1vw, 5vw, 1vw, 5vw;
  margin: auto;
  max-width: 1400px;
  // max-width: 1200px;
  @media only screen and (max-width: 1250px) {
    grid-template-columns: 1fr;
  }

}

// .grid > * {
//   padding: 2rem;
//   margin-top: 2em;
// }


// @media screen and (max-width: 60em) {
//  .grid {
//   grid-template-rows: 20em;
//   // grid-gap: 2rem;
//   // margin-top: 5em;
//   // padding-bottom: 2em;
//   grid-template-areas: 
//     "left" 
//     "center"
//     "right";
//   }
//   .feature-desc {
//     padding: 0 17em;
//   }
// }

.summary {
  margin: 0vw 0vw .5vw 1vw;
  text-align: left;
  max-width: 50vw;
  font-size: $medium-text-size;
}

.feature {
  padding: 20px;
  background: white;
  box-shadow: 3px 3px 5px 3px rgb(104, 104, 104);
  border-radius: 5px;
  max-width: 1080px;
  box-sizing: border-box;
  @media only screen and (max-width: 1250px) {
    max-width: 960px;
    width: 100%;
    
    // width: 90%;
    // margin-left: 5%;
    // margin-right: 5%;
  }
}

.feature-left {
  // grid-area: left;
  grid-column: 2/4;
  text-align: center;
  margin: $feature-margin;
  // margin-right: 10%;
  
  // background-color: rgba(255, 255, 255, 0.5);
  // border: solid 3vw rgba(255,255,255,0.5);
  @media only screen and (max-width: 1250px) {
    justify-self: center;
    grid-column: 1;
  }
}

.feature-center {
  grid-column: 1/3;
  
  // grid-area: center;
  text-align: center;  
  margin: $feature-margin; 
  // margin-left: 10%;
  
  @media only screen and (max-width: 1250px) {
    justify-self: center;
    grid-column: 1;
  }
}

.feature-right {
  grid-column: 2/4;
  
  // grid-area: right;
  text-align: center;
  margin: $feature-margin;
  // margin-right: 10%;
    
  @media only screen and (max-width: 1250px) {
    grid-column: 1;
    justify-self: center;
    // width: 100%;
  }
}

.footer {
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
  font-size: 1.5em;
  p {
    transition-duration: $link-duration;
    max-width: 75%;
    margin: auto;
    &:hover{
      transform: $link-translate;
    }
  }
}