* {
  border: 1px solid red;
}
.project-item {
  // border: solid 2px green;
  max-width: 960px;
  position: relative;
}

.screenshot {
  // position: absolute;
  float: left;
  width: 40%;
  // height: auto;
  // display: ;
  margin: 1vw;
}

.feature-list {
  display: inline-block;
  right: 1px;
  width: 50%;  
  position: relative;
  
}

.feature {
  // height: 200px;
  list-style: none;
  transition: all 0.5s ease-in-out;
  p {
    margin: .5vw;
  }
}

.feature:hover {
  // font-size: 115%;
  color: white;
}

.feature:hover .feature-img {
  transform: scale(1.15);
  // border: solid 4px red;
  // border-radius: 10px;
}

.feature-img {
  transition: all 0.5s ease;  
  margin: 1vw;
  float: left;
  height: auto;    
  width: 23%;
}
