// Colors
$primary-blue: rgb(0, 44, 189);
$primary-blue-transparent: rgba(0, 29, 126, 0.5);
$primary-green: rgb(0, 180, 126);
$primary-gray: rgb(45, 45, 60);
$secondary-gray: rgb(140, 140, 140);
$primary-black: black;
$primary-white: rgb(245, 245, 245);
$secondary-white: rgb(255, 255, 255);

// Padding and Margin
$pad: 0.5em;
$feature-margin: 0 0 5vw 0;

// Fonts
$font-main: 'Lato', sans-serif;
$font-mono: 'Roboto Mono', monospace;

// Transitions
$transition-slow: 0.5s;
$transition-fast: 0.25s;
$link-duration: 0.5s;
$link-translate: translate(20px, 0);
$primary-scale: scale(1.20);

// Text
$large-text-size: 1.25em;
$medium-text-size: 1em;
$small-text-size: 0.9em;

// Icons
$width: 90%;
$height: 90%;